body {
    /* background-color: #2E4B71; */
}

#contents {
    width: 100%;
    height: 100%;
    padding: 10% 10%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: #2E4B71; */
text-align: center;
}

#login_form_btn input[type = "button"]{
    border: 0;
    background: none;
    display: block;
    margin: 5% auto;
    border: 0.25em solid #f0f8ff;
    padding: 1em 1em;
    width: 15em;
    outline: none;
    color: #2E4B71;
    border-radius: 5em;
    transition: 0.25s;
    text-align: center;
    cursor: pointer;
    background-color: #2E4B71;
    color: #f0f8ff;
}

#login_form_btn input[type = "button"]:hover {
    background-color: #219DDD;
    border: 2px solid #219DDD;
}

#login_form_input_area p{
    color: #F03030;
    font-weight: 1%;
    font-size: 12px;
}

.login_form_input_area {
    border: 0;
    background: none;
    display: block;
    margin: 1% auto;
    border: 0.25em solid #2E4B71;
    padding: 1em 1em;
    width: 30em;
    outline: none;
    border-radius: 5em;
    transition: 0.25s;
    text-align: center;
    cursor: pointer;
    color: #2E4B71;
}

#login_form_top h3{
    color: #2E4B71;
    font-weight: 10%;
    font-size: 21px;
    margin: 5% auto;
}
#login_form_top p{
    color: #2E4B71;
    font-weight: 1%;
    font-size: 12px;
    margin: 2.5% auto;
}

#message p{
    color: #F03030;
    font-weight: 1%;
    font-size: 12px;
}
